[submodule "submodule/grambank-analysed"]
	path = submodule/grambank-analysed
	url = https://github.com/grambank/grambank-analysed.git
[submodule "submodule/phoible_cldf"]
	path = submodule/phoible_cldf
	url = https://github.com/cldf-datasets/phoible.git
